<div *ngIf="workout" class="modal-header ">
  <h1 class="modal-title fs-5 fw-bolder fs-3" id="exampleModalLabel">{{workout.rutinaNombre}}</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body px-4">
  <div class="mb-3"><span class="fw-bold">Date: </span> {{workout?.fecha | date}}</div>
  <div class="mb-3"><span class="fw-bold">Duration: </span>{{workout?.duracionEnSeg! * 1000 | date:'H:mm:ss':'UTC'}}</div>
  <div class="mb-3"><span class="fw-bold">Volume: </span>{{workout?.volumenEnKg}} kg</div>
  <div class="mb-3"><span class="fw-bold">Total sets: </span>{{workout?.nroDeSeries}}</div>
  <div class="chart row mb-3">
    <app-pie-chart class="float-start"
    [data]="data"
    [labels]="labels"
    ></app-pie-chart>
  </div>
  <div >
    <div class="fw-bold mb-2">Exercises: </div>
    <ul class="items">
      <li *ngFor="let item of workout?.items">
        <div class="fw-bold text-primary">{{item.ejercicio?.nombre}}</div>
        <ol>
          <li class="mb-2" *ngFor="let set of item.series">
            {{set.pesoEnKg}}kg x {{set.reps}} reps
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss()">Close</button>
</div>
