body {
  background-color: #f8f9fa;
}

header {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.card {
  transition: transform 0.2s;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.modal-content {
  border-radius: 0.5rem;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
